<footer class="container__fluid">
  <div class="newsletter container__row">
    <div class="logo container__col-lg-3 container__col-md-2 container__col-xs-12">
      <img src="../../../assets/images/logo/Logo.svg" alt="Incfile.Com">
    </div>
    <div class="newsletterWrapper container__col-lg-9 container__col-md-10 container__col-xs-12">
      <form action="#">
        <label for="newsletterMail">Newsletter sign in <span>(no spam)</span></label>
        <input type="text" id="newsletterMail" placeholder="Your E-mail">
        <input type="submit" class="btn btn-arrow" value="Subscribe">
      </form>
    </div>
  </div>
  <div class="footerNav container">
    <div class="container__row">
      <div class="menuColumn">
        <h4>Entity Types</h4>
        <ul>
          <li><a href="#">LLC</a></li>
          <li><a href="#">S-Corporation</a></li>
          <li><a href="#">C-Corporation</a></li>
          <li><a href="#">Nonprofit</a></li>
        </ul>
      </div>
      <div class="menuColumn">
        <h4>Services</h4>
        <ul>
          <li><a href="#">Registered Agent</a></li>
          <li><a href="#">Annual Report</a></li>
          <li><a href="#">Certificate Of Good Standing</a></li>
          <li><a href="#">Change Of Registered Agent</a></li>
          <li><a href="#">Foreign Qualification</a></li>
          <li><a href="#">Amendment</a></li>
          <li><a href="#">Dissolution</a></li>
          <li><a href="#">EIN/Tax ID Number</a></li>
          <li><a href="#">Business License Search</a></li>
          <li><a href="#">File Business Taxes</a></li>
          <li><a href="#">Fictitious Business Name</a></li>
          <li><a href="#">File S Corp Tax Election</a></li>
        </ul>
      </div>
      <div class="menuColumn">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Review Entity Types</a></li>
          <li><a href="#">Manage Your Company</a></li>
          <li><a href="#">Check Order Status</a></li>
          <li><a href="#">Learn More</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="menuColumn">
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Renew Registered Agent</a></li>
          <li><a href="#">Filing Times</a></li>
          <li><a href="#">Why Choose Us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Entity Comparison Chart</a></li>
          <li><a href="#">LLC State Info</a></li>
          <li><a href="#">Corporation State Info</a></li>
          <li><a href="#">Corporate/LLC Kit</a></li>
        </ul>
      </div>
      <div class="menuColumn">
        <h4>Support</h4>
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Cancellation Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Legal Disclaimer</a></li>
          <li><a href="#">Glossary</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright container__row">
  <div class="copy container__col-md-6 container__col-xs-12">© 2019. Incfile.com All Rights Reserved.</div>
    <div class="social container__col-md-6 container__col-xs-12">
      <ul>
        <li><a href="#"><img src="../../../assets/images/footerComponent/facebook.svg" alt="facebook"/></a></li>
        <li><a href="#"><img src="../../../assets/images/footerComponent/twitter.svg" alt="twitter"/></a></li>
        <li><a href="#"><img src="../../../assets/images/footerComponent/youtube.svg" alt="youtube"/></a></li>
        <li><a href="#"><img src="../../../assets/images/footerComponent/linkedin.svg" alt="linkedin"/></a></li>
        <li><a href="#"><img src="../../../assets/images/footerComponent/pinterest.svg" alt="pinterest"/></a></li>
      </ul>
    </div>
  </div>
</footer>
