@import "../../../grid";

footer{
.copyright{
  border-top:1px solid rgba(244, 244, 244, 0.9);
  padding:40px 0;
  .copy{
      color: #4f4f4f;
      @include lower-than('md'){
        text-align: center;
        margin-bottom: 20px;
      }
  }
  .social{
    ul{
      text-align: right;
      @include lower-than('md'){
        text-align: center;
      }
      li{
        display: inline-block;
        a{
          margin:0 6px;
          transition: opacity 0.3s ease;
          &:hover{
            opacity: 0.9;
          }
          img{
            display: inline-block;
          }
        }
      }
    }
  }
}
  .newsletter{
    margin-bottom: 75px;
    @include lower-than('md'){
      margin-bottom: 40px;
    }
    .logo{
      display: flex;
      align-items: center;
      @include lower-than('md'){
        justify-content: center;
        margin-bottom: 20px;
      }
      img{
        display: block;
      }
    }
    .newsletterWrapper{
      margin-left: auto;
      text-align: right;
      form{
        @include lower-than('md'){
          text-align: center;
        }
      }
      label{
        font-family: var(--mark-pro-font);
        margin-right: 16px;
        @include lower-than('md'){
          display: block;
          text-align: center;
          margin-bottom: 20px;
        }
        &:after{
          content: '';
          width:11px;
          height:12px;
          background: url('../../../assets/images/faqComponent/arrow-green.svg');
          display: inline-block;
          margin-left:8px;
          position: relative;
          top: 2px;
        }
        span{
          color:#7A7A7A;
        }
      }
      input{
        margin-right: 8px;
        font-size: 0.875rem;
        &[type="submit"]{
          margin:0;
        }
      }
      input[type="submit"]{
        color: var(--orange-color);
        cursor: pointer;
        &:hover{
          color: var(--plain-white);
        }
      }
    }
  }
  .footerNav{
    margin-bottom: 80px;
    position: relative;
    &:before{
      content: '';
      width: 115px;
      height: 101px;
      position: absolute;
      display: block;
      background: url('../../../assets/images/footerComponent/green_curve.svg') no-repeat scroll center / 100%;;
      right: -102px;
      bottom: -13px;
    }
    @include lower-than('md'){
      margin-bottom: 12px;
      padding-top:40px;
      border-top:1px solid rgba(244, 244, 244, 0.9);
    }
    & > .container__row{
      justify-content: space-between;
    }
    .menuColumn{
      @include lower-than('md'){
        width: 100%;
        text-align:center;
        margin-bottom: 30px;
      }
      h4{
        color:#7A7A7A;
        font-size: 0.75rem;
        line-height: 14px;
        text-transform: uppercase;
        opacity: 0.9;
        margin:0;
        margin-bottom:24px;
        @include lower-than('lg'){
            font-size:0.65rem;
        }
        @include lower-than('md'){
          font-size: 0.75rem;
        }
      }
      ul{
        li{
          a{
            font-size:  0.875rem;
            line-height: 17px;
            color:#7A7A7A;
            margin-bottom: 5px;
            display: inline-block;
            &:hover{
              color: var(--text-color-blue);
            }
            @include lower-than('lg'){
              font-size:0.75rem;
            }
            @include lower-than('md'){
              font-size:  0.875rem;
            }
          }
        }
      }
    }

  }
}
