<div class="overview questionAnswerSection">
  <span>
    Incorporating your company is not always an easy process. Incfile is here to help you decide not only how to incorporate, but to understand exactly which type of status to file.<br/><br/><br/>
    Many companies who incorporate are actually charities that do not intend to make a profit, but rather donate all profits to another organization. In this case, a charity would want to incorporate as a nonprofit and, ultimately, apply for tax exempt status. By having tax exempt status, your donations can be recorded by donors as not taxable by both the federal and state government. This is a great incentive to be able to offer your constituents.<br/><br/><br/>
    People who start nonprofits are driven by passion about a certain cause. Whatever your cause, creating a nonprofit can make a difference. We've provided as much information as you need to know in choosing to incorporate as a nonprofit corporation.<br/>
  </span>
  <h3>Save Time and Money. We'll Handle The Paperwork.</h3>
  <a href="#">Form your Nonprofit Corporation today</a>
</div>
