.quiestionsSection{
.expandBars{
  ul{
    max-width: 370px;
    position: sticky;
    top:10px;
    li{
      box-shadow: 0 24px 32px 0 rgba(236, 236, 236, 0.5);
      position: relative;
      transition: box-shadow 0.3s ease;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 8px;
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) div:before{
          background: url('../../../assets/images/questionsComponent/icon_#{$i}.svg') no-repeat scroll center;
        }
      }
      div{
        height: 80px;
        line-height: 80px;
        color: var(--text-color);
        background: var(--plain-white);
        transition: box-shadow 0.3s ease;
        display: flex;
        cursor: pointer;
        &:after{
          content: '';
          width:12px;
          height:11px;
          display: inline-block;
          background: url('../../../assets/images/questionsComponent/arrow-black.svg');
          position: absolute;
          right:36px;
          top:50%;
          transform: translateY(-50%);
          transition: all 0.3s ease;
          opacity: 0;
        }
        span{
          border-left: 1px solid var(--border-gray-color);
          padding-left:24px;
        }
        &:before{
          content: '';
          height: 80px;
          width: 80px;
        }
      }
      &.pseudActive{
        box-shadow: 0 24px 32px 0 rgba(236, 236, 236, 0.5);
      }
      &:hover{
        & > div{
          &:after{
            right:26px;
            opacity: 1;
          }
        }
      }
      &.active{
        box-shadow: 0 40px 80px 0 rgba(171, 171, 171, 0.5);
        font-family: var(--avenir-heavy-font);
        &:nth-child(1){
          z-index: 7;
        }
        &:nth-child(2){
          z-index: 6;
        }
        &:nth-child(3){
          z-index: 5;
        }
        &:nth-child(4){
          z-index: 4;
        }
        &:nth-child(5){
          z-index: 3;
        }
        &:nth-child(6){
          z-index: 2;
        }
        &:nth-child(7){
          z-index: 1;
        }
        & > div{
          &:after{
            right:26px;
            opacity: 1;
          }
        }
      }
    }
  }
  &Content{
    margin-left: auto;
  }
}
}
