<section class="quiestionsSection">
  <div class="container__row">
    <div class="container__col-md-4 expandBars">
      <ul>
<!--        <li><div><span>Overview</span></div></li>-->
<!--        <li><div><span>What Is a Nonprofit?</span></div></li>-->
<!--        <li><div><span>Is a Nonprofit right for you?</span></div></li>-->
<!--        <li><div><span>Advantages & Disadvantages</span></div></li>-->
<!--        <li><div><span>Types of Nonprofit</span></div></li>-->
<!--        <li><div><span>501c3 Status</span></div></li>-->
<!--        <li><div><span>How to Start a Nonprofit</span></div></li>-->

        <li *ngFor="let bar of expandBarElms; let i = index" [ngClass]="{'active' : bar.active, 'pseudoActive' : bar.pseudoActive, 'hovered': bar.hovered}">
          <div (click)="expandBarAction(i)">
            <span>
              {{bar.name}}
            </span>
          </div>
        </li>

      </ul>
    </div>
    <div class="container__col-md-8"></div>
  </div>
</section>
