<section class="quiestionsSection">
  <div class="container__row">
    <div class="container__col-md-4 expandBars">
      <ul>
        <li *ngFor="let bar of expandBarElms; let i = index"
            [ngClass]="{'active' : bar.active, 'pseudoActive' : bar.pseudoActive, 'hovered': bar.hovered}">
          <div (click)="expandBarAction(i)">
            <span>
              {{bar.name}}
            </span>
          </div>
        </li>

      </ul>
    </div>
    <div class="container__col-md-7 expandBarsContent">
      <app-questions-overview *ngIf="activeTab === 0"></app-questions-overview>
      <app-questions-what-is-nonprofit *ngIf="activeTab === 1"></app-questions-what-is-nonprofit>
      <app-questions-is-nonprofit-good *ngIf="activeTab === 2"></app-questions-is-nonprofit-good>
      <app-questions-advantages-disadvantages *ngIf="activeTab === 3"></app-questions-advantages-disadvantages>
      <app-questions-nonprofit-types *ngIf="activeTab === 4"></app-questions-nonprofit-types>
      <app-questions-status *ngIf="activeTab === 5"></app-questions-status>
      <app-questions-start-nonprofit *ngIf="activeTab === 6"></app-questions-start-nonprofit>
    </div>
  </div>
</section>
