<div class="howToStart">
  <h3>How to Start a Nonprofit Corporation</h3>
  <ul>
    <li>
      <h4>Pick a Name</h4>
      If you haven’t already, choose a business name for your nonprofit. Once you have decided upon a name and entered your information online, IncFile automatically performs a name search against the corporate database of the state of incorporation to check the availability.
    </li>
    <li>
      <h4>File Paperwork</h4>
      In order to form a nonprofit, you will have to file nonprofit Articles of Incorporation with the appropriate state agency and pay the necessary state filing fees. The paperwork and fees vary by state.
    </li>
    <li>
      <h4>Appoint Directors and Hold Your First Meeting</h4>
      Nonprofits are not automatically tax exempt, the IRS must approve it first. In the United States, nonprofits can apply for tax exemption status by filing a 501c3 with the IRS. The application fee is around $500, but prices vary from state-to -state.
    </li>
    <li>
      <h4>Create Bylaws & Acquire Licenses</h4>
      Bylaws describe your nonprofits’ purpose and layout your operating rules. Bylaws should include:
      <ul>
        <li>How directors are elected and what authority they have.</li>
        <li>How, when and where directors’ meetings are held.</li>
        <li>How decisions can be reached with or without a meeting.</li>
        <li>Duties and responsibilities of officers and how long they serve.</li>
        <li>Officers, constituency rights and responsibilities, and standing committees.</li>
        <li>Organizational structure of the nonprofit. You may need to acquire certain license for your nonprofit. Check with your state department of consumer affairs for more information.</li>
      </ul>
    </li>
    <li>
      <h4>Appoint Directors and Hold Your First Meeting</h4>
      Normally a corporation’s officers include, at a minimum, a president, treasurer and secretary, or their functional equivalents. The initial board is the most important decision as you will vote with them to elect others later. Some things to go over in the first board meeting:
      <ul style="margin-bottom:24px;">
        <li>Elect any officers</li>
        <li>Form your bylaws</li>
        <li>Choose your headquarters</li>
        <li>Designate a corporate bank account</li>
        <li>Designate the accounting period</li>
        <li>Document the receipt of tax exemptions</li>
      </ul>
      After the meeting is completed, minutes of the meeting should be created and filed in your corporate records book. You should hold board meetings annually.
    </li>
  </ul>
</div>
