.advantagesAndDisadvantages{
  a{
    color: var(--text-color-blue);
    font-family: var(--avenir-heavy-font);
    font-size: 1.25rem;
    margin-top:24px;
    display: inline-block;
    &:before {
      content: '';
      background: url('../../../../assets/images/faqComponent/arrow-blue.svg');
      display: inline-block;
      width: 12px;
      height: 11px;
      margin-right: 12px;
      position: relative;
      left: 0;
      transition: left 0.3s ease;
    }

    &:hover {
      &:before {
        left: 5px;
      }
    }
  }
}
