<section class="findByState">
  <div class="rocket">
    <span class="star star_1"></span>
    <span class="star star_2"></span>
    <span class="star curve_1"></span>
    <span class="star curve_2"></span>
  </div>
  <div class="moon">
    <span class="star star_1"></span>
    <span class="star star_2"></span>
    <span class="star star_3"></span>
    <span class="star curve_1"></span>
  </div>
  <div class="container">
    <div class="container__row">
      <div class="searchWrapper container__col-md-6 container__col-xs-12 container__col-offset-5"  data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">
        <h2>Learn more about<br/> Nonprofits by state.</h2>
        <div class="searchBox">
          <div class="searchInner">
            <div class="inputWrapper">
              <input (input)="searchForResults($event.target.value)" id="search-input">
            </div>
            <div class="search_result" [ngClass]="{'open-result' : showResults, 'close-result' : !showResults}">
              <ul>
                <li *ngFor="let state of searchResults">
                  <span (click)="goToState(state.code, state.name)" (clickOutside)="onClickedOutside($event)">{{state.name}}
                    <img src="../../../assets/images/searchComponent/Arrow-orange.svg"/></span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
