<div class="nonprofitTypes questionAnswerSection">
  <h3>
    Types of Nonprofit Companies
  </h3>
  <span>
    There are four main types of non-profits common in the United States. Each contains the ability to achieve tax exempt status despite their slightly different goals and corporate structure. They include:
  </span>
  <ul>
    <li>
      <h4>Public Charities</h4>
      Typically, a charity provides low cost or free services to the public using funds received from the public, known as a donation. This can be obtained through private donations or fundraising events specifically designed to solicit members or advocates of the organization.
    </li>
    <li>
      <h4>Social Advocacy Organizations</h4>
      This type of group is member-based and sets out to achieve specific goals without achieving a profit. The organization uses donations and member dues to send out information that promotes a particular social agenda.    </li>
    <li>
      <h4>Foundations</h4>
      This type of organization often works to better the community, whether contributing financially to local charities, or holding events that benefit residents. They are funded by and contribute on behalf of another for-profit corporation.    </li>
    <li>
      <h4>Trade and Professional Organizations</h4>
      People in the same organization can benefit from the activities of this type of non-profit. They are funded primarily through membership dues.    </li>
  </ul>
  <span>
    Political parties are also eligible for tax exempt status, but do not fall under the standard nonprofit category.
  </span>
  <a href="#">Download Our Start a Nonprofit Guide</a>
</div>
