@import "../../../grid";
.relatedArticles {
  h2 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 67px;
    @include lower-than('lg'){
      margin-bottom: 40px;
    }
  }

  .articles {
    margin-bottom: 156px;
    position: relative;
    @include lower-than('lg'){
      margin-bottom: 100px;
    }
    &:after{
      content: '';
      height:21px;
      width: 24px;
      background: url('../../../assets/images/articlesComponent/curve.svg') no-repeat scroll center / 100%;
      display: block;
      position: absolute;
      top: -4px;
      right: -4px;
    }
    &:before{
      content: '';
      height:21px;
      width: 24px;
      background: url('../../../assets/images/searchComponent/curve--orange.svg') no-repeat scroll center / 100%;
      display: block;
      position: absolute;
      bottom: 40px;
      left: -7px;
      transform: rotate(180deg);
    }
    .singleArticleWrapper {
      padding: 15px;

      .singleArticle {
        cursor: pointer;
        max-width: 370px;
        box-shadow: 0 20px 30px 0 rgba(233, 235, 240, 0.5);
        border-radius: 5px;
        overflow: hidden;
        @include lower-than('760px'){
          max-width: 100%;
        }
        &:hover {
          .descWrapper{
            &:before{
                left:34px;
            }
          }
        }

        .imgWrapper {
          height: 180px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          @include lower-than('lg') {
            height: 220px;
          }
          span {
            border-radius: 5px;
            background: var(--plain-white);
            color: #789EFA;
            font-size: 0.75rem;
            text-transform: uppercase;
            font-family: var(--avenir-black-font);
            position: absolute;
            left: 24px;
            top: 24px;
            padding: 12px 15px 12px 28px;

            &:before {
              content: '';
              background: #789EFA;
              height: 4px;
              width: 4px;
              display: block;
              border-radius: 100%;
              position: absolute;
              left: 16px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .descWrapper {
          color: var(--text-color-blue);
          font-family: var(--avenir-heavy-font);
          padding: 24px 33px 24px 60px;
          position: relative;
          background: var(--plain-white);
          &:before{
            content: '';
            background: url('../../../assets/images/faqComponent/arrow-blue.svg');
            width:12px;
            height:11px;
            display: inline-block;
            position: absolute;
            left:24px;
            top: 43px;
            transition: left 0.3s ease;
            @include lower-than('760px'){
             top:50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

  }
}
