<section class="relatedArticles">
  <h2>Related Articles</h2>
  <div class="articles">

    <app-incfile-carousel *ngIf="sliderArray" [options]="{position: 0, width: 400, breakpoints: [
        {items: 2, screenMin: 500, screenMax: 992},
         {items: 3, screenMin: 1200, screenMax: 9999}],
          dots: true,
          nav: false,
          items: sliderArray}">
      <div class="singleArticleWrapper" *ngFor="let article of sliderArray">
        <div class="singleArticle" >
          <div class="imgWrapper" [style.backgroundImage]="'url('+ article.img +')'">
            <span *ngIf="article.specialBadge">{{article.specialBadgeText}}</span>
          </div>
          <div class="descWrapper">
            {{article.text}}
          </div>
        </div>
      </div>

    </app-incfile-carousel>

  </div>
</section>
