<section class="relatedArticles">
  <h2>Related Articles</h2>
  <div class="articles">
      <div class="singleArticle">
        <div class="imgWrapper" style="background-image: url('../../../assets/images/articlesComponent/article1.png')">
          <span>Most popular</span>
        </div>
        <div class="descWrapper">
          Here’s Seven Tips to Steer You in the Right Direction.
        </div>
      </div>
    <div class="singleArticle">
      <div class="imgWrapper" style="background-image: url('../../../assets/images/articlesComponent/article2.png')"></div>
      <div class="descWrapper">
      How to Balance Owning Multiple Businesses.
      </div>
    </div>
    <div class="singleArticle">
      <div class="imgWrapper" style="background-image: url('../../../assets/images/articlesComponent/article3.png')"></div>
      <div class="descWrapper">
      Here’s Seven Tips to Steer You in the Right Direction.
      </div>
    </div>

  </div>
</section>
