<div class="_status questionAnswerSection">
  <h3>How to Achieve 501c3 Status</h3>
  <span>
    Corporations may file for federal tax exempt status, also known as 501c3 by the IRS, if they are incorporated as a nonprofit corporation or trust. They must meet and maintain certain stringent criteria to be considered free from paying taxes. These include:
  </span>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis incidunt magnam magni molestiae? Ab deleniti inventore ipsa iure officiis? Aliquam, architecto eius error fuga incidunt maiores nemo repellat. Iure, ratione!</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio eaque esse, exercitationem praesentium quasi tempora tempore voluptate! A atque deserunt nihil nostrum odio! Alias aut ducimus error numquam praesentium?</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorum excepturi minima perspiciatis provident qui quidem recusandae, sed suscipit velit voluptatem voluptatum? Ad alias aspernatur doloremque earum odio placeat sunt.</li>
  </ul>
  <span>
    Political parties are also eligible for tax exempt status, but do not fall under the standard nonprofit category.
  </span>
  <a href="#">Download Our Start a Nonprofit Guide</a>
</div>
