<app-navigation></app-navigation>
<div class="container__fluid">
  <app-banner></app-banner>
</div>
<div class="container">
  <app-questions></app-questions>
  <app-rocket></app-rocket>
  <app-faq></app-faq>
  <app-articles></app-articles>
  <app-footer></app-footer>
</div>

<div class="absoluteDec bodyCurve"></div>
<div class="absoluteDec bodyCurve_1"></div>
<div class="absoluteDec bodyCurve_2"></div>
<div class="absoluteDec bodyCurve_3"></div>
<div class="absoluteDec bodyCurve_4"></div>
<router-outlet></router-outlet>
