@import "../../../mixins";
@import "../../../grid";
.chooseRight {
  padding: 160px 0;
  background: url('../../../assets/images/faqComponent/usa-map.svg') no-repeat scroll center / auto;
  margin-bottom: 80px;

  .container__col-md-5 {
    margin: 0 auto;
    text-align: center;
  }

  h2 {
    line-height: 48px;
    font-size: 2.5rem;
    margin-bottom: 24px;
    @include lower-than('md'){
      font-size:2rem;
    }
  }

  span {
    color: var(--text-color);
    display: inline-block;
    margin-bottom: 32px;
  }

  &Button {
    a {
      @include btn-styles-reverse();
    }
  }
}

.faqSection {
  .container__col-offset-2{
    @include lower-than('lg'){
      margin:0;
    }
  }
  &Header {
    text-align: center;
    margin-bottom: 80px;

    h2 {
      font-size: 2.5rem;
      line-height: 48px;
      margin-bottom: 24px;
      @include lower-than('md'){
        font-size:2rem;
      }
    }

    a {
      font-family: var(--avenir-heavy-font);
      color: var(--text-color-blue);
      font-size: 1.25rem;
      &:before{
        content:'';
        background: url('../../../assets/images/faqComponent/arrow-blue.svg');
        display: inline-block;
        width:12px;
        height: 11px;
        margin-right: 12px;
        position: relative;
        left: 0;
        transition: left 0.3s ease;
      }
      &:hover{
        &:before{
          left: 5px;
        }
      }
    }
  }

  &Questions {
    margin-bottom: 64px;

    & > div {
      border-radius: 5px;
      box-shadow: 0 24px 32px 0 rgba(236, 236, 236, 0.5);
      background: var(--plain-white);
      margin-bottom: 8px;
      position: relative;

      .questionArrow {
        height: 32px;
        width: 32px;
        display: inline-block;
        position: absolute;
        background: url('../../../assets/images/faqComponent/Arrow-orange.svg');
        top: 24px;
        left: 24px;
        transition: transform 0.3s ease;
      }

      .questionTitle {
        padding: 28px 0 28px 80px;
        line-height: 19px;
        display: block;
        cursor: pointer;
        @include lower-than('md'){
          font-size:14px;
        }
      }

      &.expanded {
        z-index: 10;

        .questionTitle {
          //    font-family: var(--avenir-heavy-font);
        }

        .questionArrow {
          transform: rotate(180deg);
        }

        .questionAnswer {
          height: auto;
          padding: 10px 0 40px 80px;
          height: 137px;
          @include lower-than('md'){
            height: 180px;
          }
        }
      }

      .questionAnswer {
        padding: 0 0 0 80px;
        color: var(--text-color);
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
      }
    }
  }
}
