<section class="faqSection">
<h2>
  Common questions on starting a Nonprofit Corporation
</h2>
</section>

<section class="chooseRight">
  <div class="container">
    <div class="container__row">
      <div class="container__col-md-5">
        <h2>
          Choose the right and start your business
        </h2>
        <span>
    $0 + State Fee & FREE  Registered Agent for 1st year.
  </span>
        <div class="chooseRightButton">
          <a href="#">Start now</a>
        </div>
      </div>
    </div>
  </div>

</section>
