<section class="faqSection container">
  <div class="container__row">
    <div class="container__col-lg-8 container__col-xs-12 container__col-offset-2">
      <div class="faqSectionHeader" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500">
        <h2>
          Common questions on starting <br/> a Nonprofit Corporation
        </h2>
        <a href="#">See all</a>
      </div>
      <div class="faqSectionQuestions" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
        <div *ngFor="let questions of questionsAndAnswers; let i = index" [ngClass]="{'expanded' : questions.isExpanded}">
          <span class="questionArrow"></span>
          <span class="questionTitle" (click)="expandIt(i)">{{questions.question}}</span>
          <div class="questionAnswer">{{questions.answer}}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="chooseRight" data-aos="fade-up" data-aos-once="true" data-aos-duration="500">
  <div class="container">
    <div class="container__row">
      <div class="container__col-md-5">
        <h2>
          Choose the right <br/>and start your business
        </h2>
        <span>
    $0 + State Fee & FREE  Registered Agent for 1st year.
  </span>
        <div class="chooseRightButton">
          <a href="#" class="btn-arrow-reverse">Start now</a>
        </div>
      </div>
    </div>
  </div>

</section>
