@import "../../../mixins";

.mainBanner {
  padding-top: 200px;
  padding-bottom: 120px;
  background: url('../../../assets/images/bannerComponent/bg-main.svg') no-repeat scroll top right / auto 100%;

  .mainBannerTitles {
    h1 {
      line-height: 58px;
      font-size: 3rem;
      font-family: var(--mark-pro-font);
      margin-bottom: 24px;
    }

    span {
      color: #7A7A7A;
      line-height: 24px;
      font-size:  1.25rem;
      margin-bottom: 24px;
      display: block;
    }

    &Buttons {
      a:first-child {
        @include btn-styles();
        margin-right: 16px;
        padding: 12px 48px;
      }

      a:last-child {
        @include btn-styles-reverse();
        padding: 12px 48px;
      }
    }
  }
}
