<section class="mainBanner">
  <div class="container">
    <div class="container__row">
      <div class="container__col-xl-5 container__col-lg-6">
        <div class="mainBannerTitles">
          <h1>
            Starting a nonprofit  can truly help make  the world better
          </h1>
          <span>
            Start for $0 + state fee. Learn how forming an LLC,  an S-Corporation, an C-Corporation, or a Non Profit  will impact both your liability and taxation.
          </span>
        </div>
        <div class="mainBannerTitlesButtons">
        <a href="#" class="btn-arrow-reverse">Start now</a>
          <a href="#">How it works</a>
        </div>
      </div>
      <div class="mrBulb"></div>
    </div>
  </div>
</section>
