//Avenir font

@font-face {
  font-family: 'AvenirHeavy';
  src: url('assets/fonts/Avenir-Heavy.woff2') format('woff2'),
  url('assets/fonts/Avenir-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('assets/fonts/Avenir-Roman.woff2') format('woff2'),
  url('assets/fonts/Avenir-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('assets/fonts/Avenir-Black.woff2') format('woff2'),
  url('assets/fonts/Avenir-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

//MarkPro font
@font-face {
  font-family: 'MarkPro';
  src: url('assets/fonts/MarkPro-Bold.woff2') format('woff2'),
  url('assets/fonts/MarkPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


:root {
  //responsive schema
  --width: 100;
  --height: 100;
  --margin-base: 10;
  --padding-base: 10;
  --radius-base: 10;
  --base-size: 10;
  //basic color schema
  --plain-white: #fff;
  --text-color: #4E4E4E;
  --link-color: #1E1E1E;
  --text-color-blue: #5089FD;
  --headers-color: #1D1D1D;
  --orange-color: #FD8550;
  --border-color: #E9E9E9;
  --border-gray-color: #F4F4F4;
  //basic font schema
  --font-size: 16px;
  --mark-pro-font: 'MarkPro', sans-serif;
  --avenir-roman-font: 'AvenirRoman', sans-serif;
  --avenir-black-font: 'AvenirBlack', sans-serif;
  --avenir-heavy-font: 'AvenirHeavy', sans-serif;
}
@import "grid";
@import "animations";
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
  margin:0;
}

html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headers-color);
    font-family: var(--mark-pro-font);
  }
}

body {
  background: var(--plain-white);
  font-size: var(--font-size);
  font-family: var(--avenir-roman-font);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  textarea, select, input, button {
    outline: none;
    font-size: var(--font-size);
  }
  input{
    border: 1px solid var(--border-color);
    border-radius: 24px;
    height: 40px;
    padding:0 24px;
  }
  a, a:hover, input[type="submit"]{
    transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
    text-decoration: none;
    color: var(--link-color);
  }
  a:hover, input[type="submit"]:hover{
    color: var(--text-color-blue)
  }
  button, button:hover{
    transition: color, background, border 0.3s ease;
  }
  ul{
    list-style: none;
  }
  .btn{
    font-family: var(--mark-pro-font);
    border:2px solid var(--orange-color);
    border-radius:50px;
    background: var(--plain-white);
    color: var(--orange-color);
    padding: 0.7em 2.7em;
    display: inline-block;
    line-height: 19px;
    &:hover{
      background: var(--orange-color);
      color: var(--plain-white);
    }
  }
  .btn-reverse{
    font-family: var(--mark-pro-font);
    border:2px solid var(--orange-color);
    border-radius:50px;
    background: var(--orange-color);
    color: var(--plain-white);
    padding: 0.7em 2.7em;
    display: inline-block;
    line-height: 19px;
    &:hover{
      background: var(--plain-white);
      color: var(--orange-color);
    }
  }
  .btn-arrow{
    background: var(--plain-white) url('assets/images/faqComponent/arrow--orange.svg') no-repeat scroll 90% center !important;
    &:hover{
      background: var(--orange-color) url('assets/images/logo/arrow-white.svg') no-repeat scroll 95% center !important;
    }
  }
  .btn-arrow-reverse{
    background: var(--orange-color) url('assets/images/logo/arrow-white.svg') no-repeat scroll 90% center !important;
    &:hover{
      background: var(--plain-white) url('assets/images/faqComponent/arrow--orange.svg') no-repeat scroll 95% center !important;
    }
  }
  .bodyCurve{
    position: absolute;
    width: 115px;
    height: 101px;
    background: url('assets/images/footerComponent/green_curve.svg') no-repeat scroll center / 100%;
    display: block;
    right: 9%;
    bottom: 5%;
  }
}
