<header class="container__fluid">
  <div class="container__row">
   <div class="logo container__col-md-2">
     <img src="../../../assets/images/logo/Logo.svg" alt="">
   </div>
    <div class="container__row container__col-md-10 menuContainer">
    <nav class="main_menu container__col-md-8">
      <ul>
        <li>
          <a href="#">Review Entity Type</a>
          <ul class="submenu with-small-triangle">
            <li><a href="#">Review Entity Types</a></li>
            <li><a href="#">LLC</a></li>
            <li><a href="#">S Corporation</a></li>
            <li><a href="#">C Corporation</a></li>
            <li><a href="#">Nonprofit</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Manage Your Company</a>
          <ul class="submenu"></ul>
        </li>
        <li>
          <a href="#">Learning Center</a>
          <ul class="submenu"></ul>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
    <div class="login container__col-md-4">
      <a href="#">Login</a>
      <a href="#" class="btn">Incoporate now</a>
    </div>
    </div>
    <div class="mobileHamburger" (click)="showMobileMenu()" [ngClass]="{'active': showMobileMenuActive}">
        <div class="hamburgerBox">
          <div class="hamburgerInner">

          </div>
        </div>
    </div>
  </div>
</header>
