@import "../../../grid";
@import "../../../mixins";

header {
  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid rgba(244, 244, 244, .9);
  background: var(--plain-white);
  position: sticky;
  top:0;
  z-index: 9999;
  @include lower-than('1280px') {
    font-size: 13px;
  }
  @include lower-than('sm') {
    padding: 0 15px;
  }

  & .container__row {
    height: 100%;
    align-items: center;

    .logo {
      max-width: 215px;
      img {
        display: block;
      }
      @include lower-than('1100px'){
        max-width: 140px;
      }
    }

    .main_menu {
      height: 100%;
      @include lower-than('lg') {
        display: block;
        height: auto;
        padding: 0 15px;
      }

      & > ul {
        display: flex;
        height: 100%;
        @include lower-than('lg') {
          display: block;
          width: 100%;
        }

        & > li {
          margin-right: 3.6em;
          display: flex;
          align-items: center;
          vertical-align: middle;
          position: relative;
          @include lower-than('1335px') {
            margin-right: 3em;
          }
          @include lower-than('1050px') {
            margin-right: 2.5em;
          }
          @include lower-than('lg') {
            font-family: var(--mark-pro-font);
            font-size: var(--font-size);
            margin: 0;
            display: block;
          }
          &.showSubmenu{
            @include lower-than('lg') {
              & > a, & > a:hover{
                color: var(--link-color) !important;
                &:after{
                  transform: rotate(0deg) !important;
                }
              }
              & > ul{
                display: block !important;
                opacity: 1;
                visibility: visible;
              }
            }
          }
          a {
            position: relative;
            line-height: 19px;
            @include lower-than('lg') {
              height: 60px;
              border-bottom: 1px solid var(--border-gray-color);
              line-height: 60px;
              display: block;
              width: 100%;
            }

            &:hover {
              color: var(--text-color-blue);
            }

            &:not(:only-child):after {
              content: '';
              width: 12px;
              height: 7px;
              background: url('../../../assets/images/navigationComponent/dropdown.svg');
              display: inline-block;
              position: absolute;
              right: -24px;
              top: 50%;
              transform: translateY(-50%);
              @include lower-than('lg') {
                right: 10px;
                transform: rotate(-90deg);
              }
            }
          }

          .submenu {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: visibility .3s linear, opacity .3s linear;
            min-width: 270px;
            display: block;
            background: var(--plain-white);
            box-shadow: 0 13px 33px 0 rgba(118, 134, 157, .5);
            border-radius: 8px;
            padding: 15px 0;
            top: calc(100% + 10px);
            z-index: 100;
            @include lower-than('lg') {
              position: static;
              box-shadow: none;
              padding: 0;
              display: none;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: -4px;
              left: 20px;
              width: 7px;
              height: 7px;
              background: #FFFFFF;
              -moz-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }

            li {
              padding: 0 30px;
              @include lower-than('lg') {
                padding: 0 10px;
              }

              a {
                padding: 5px 0;
                display: block;
              }
            }
          }

          @include higher-than('lg') {
            &:hover {
              .submenu {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .login {
      margin-left: auto;
      text-align: right;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      @include lower-than('lg') {
        display: block;
        font-size: var(--font-size);
        margin-top: 30px;
        padding: 0 15px;
        a {
          display: block;
          margin: 0 1em 1em 1em;
          text-align: center;

          &:first-child {
            @include btn-styles-reverse();
            display: block;
          }
        }

      }

      .btn {
        margin-left: 1em;
      }
    }
  }

  .mobileHamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    display: none;
    margin-left: auto;
    @include lower-than('lg') {
      display: block;
    }

    &.active .hamburgerInner {
      background-color: var(--link-color);

      &:after, &:before {
        background-color: var(--link-color);
      }
    }
  }

  .hamburgerBox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  .hamburgerInner {
    top: 50%;
    display: block;
    margin-top: -2px;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: var(--link-color);

    &:after, &:before {
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: var(--link-color);
    }

    &:after {
      display: block;
      content: "";
    }

    &:before {
      display: block;
      content: "";
      top: -10px;
    }

    &:after {
      bottom: -10px;
    }
  }

  .mobileHamburger {
    .hamburgerInner {
      top: 2px;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition-duration: 0.275s;

      &:before {
        top: 10px;
        transition: opacity 0.125s ease 0.275s;
      }

      &:after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

    &.active .hamburgerInner {
      transition-delay: 75ms;
      transform: translate3d(0, 10px, 0) rotate(135deg);

      &:before {
        transition-delay: 0s;
        opacity: 0;
      }

      &:after {
        transition-delay: 75ms;
        transform: translate3d(0, -20px, 0) rotate(-270deg);
      }
    }
  }

  .menuContainer {
    flex-basis: calc(100% - 215px);
    margin-left: auto;
    @include lower-than('lg') {
      display: block;
      position: fixed;
      height: 100vh;
      top: 0;
      width: calc(100vw - 100px);
      right: -100%;
      background: var(--plain-white);
      z-index: 200;
      box-shadow: -7px 0 20px 6px rgba(127, 177, 223, .37);
      overflow: auto;
      transition: .5s;
      &.showIt {
        right: 0;
        transition: .3s;
      }
    }
  @include lower-than('1100px'){
    flex-basis: calc(100% - 140px);
  }
  }
}
