<div class="isNonProfitGood">
  <h3>Who Is a Nonprofit Corporation Right For?</h3>
  <span>Nonprofits are agents of change in the world today. They are established for a specific noncommercial purpose, usually religious, educational or charitable.</span>
  <div>
    <h4>Common not for profit businesses include:</h4>
    <ul>
      <li>Schools/Universities</li>
      <li>Hospitals</li>
      <li>Museums</li>
      <li>Churches</li>
      <li>Food Banks</li>
      <li>Homeless Shelters</li>
    </ul>
  </div>
</div>
